body {
  background-color: #efe2ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#product-card {
  background-color: #bd88d6;
  color: rgb(66, 4, 99);
  padding: 0.5rem;
  margin: 2rem;
  border-radius: 25px;
  box-shadow: 10px 10px 20px rgba(189, 136, 214, 0.5607843137);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#product-card * {
  margin: 0.5rem;
}
#product-card #title {
  font-weight: bold;
  color: rgb(21, 2, 52);
  font-size: 1.5rem;
}
#product-card #add-to-cart {
  background: linear-gradient(130deg, rgb(87, 37, 138), rgb(9, 14, 56), rgb(51, 7, 123));
  color: white;
  font-weight: bold;
  padding: 0.7rem;
  border-radius: 30px;
}
#product-card #add-to-cart:hover {
  background: linear-gradient(130deg, rgb(153, 70, 191), rgb(112, 73, 169), rgb(70, 12, 90));
}
#product-card #price {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(21, 2, 52);
}

#cart {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 550px;
  padding: 1rem;
  border-bottom-left-radius: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.308);
  display: "block";
}
#cart #cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#cart * {
  margin: 0.5rem;
}
#cart #buy {
  background: linear-gradient(130deg, rgb(40, 202, 75), rgb(8, 93, 104));
  font-weight: bold;
  color: white;
  border-radius: 30px;
  width: 70px;
  padding: 0.7rem;
}
#cart #buy:hover {
  background: linear-gradient(130deg, rgb(77, 242, 113), rgb(8, 93, 104));
}
#cart h2 {
  font-size: 1.3rem;
  font-weight: bold;
}
#cart #close {
  background-color: #f3f3f3;
  padding: 0.5rem;
  width: 70px;
  border-radius: 30px;
}
#cart #close:hover {
  background: linear-gradient(130deg, rgb(225, 255, 231), rgb(188, 218, 222));
}

#cart-product {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  border-radius: 25px;
  justify-content: flex-start;
}
#cart-product * {
  padding: 0.5rem;
  margin: 0.5rem;
}
#cart-product button {
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  text-align: center;
}
#cart-product #add {
  background: linear-gradient(130deg, rgb(201, 109, 255), rgb(95, 0, 167));
}
#cart-product #add:hover {
  background: linear-gradient(130deg, rgb(217, 150, 255), rgb(111, 10, 189));
}
#cart-product #decrement {
  background: linear-gradient(130deg, rgb(255, 181, 69), rgb(231, 95, 11));
}
#cart-product #decrement:hover {
  background: linear-gradient(130deg, rgb(255, 192, 98), rgb(247, 112, 28));
}
#cart-product #delete {
  background: linear-gradient(130deg, rgb(255, 116, 104), rgb(184, 30, 30));
  margin-right: 10px;
}
#cart-product #delete:hover {
  background: linear-gradient(130deg, rgb(255, 122, 109), rgb(212, 40, 40));
}
#cart-product #price {
  margin-left: auto;
}
#cart-product #count {
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
}

.visible {
  display: "block";
}

.hidden {
  display: "none";
}

#show-cart {
  background: linear-gradient(130deg, rgb(40, 202, 75), rgb(8, 93, 104));
  font-weight: bold;
  color: white;
  border-radius: 30px;
  width: 130px;
  padding: 0.7rem;
  position: fixed;
  right: 30px;
  top: 30px;
}
#show-cart:hover {
  background: linear-gradient(130deg, rgb(77, 242, 113), rgb(8, 93, 104));
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 1600px;
  width: 100vw;
}

#sum {
  font-weight: bold;
  font-size: 1.2rem;
}

#nav-link {
  background: linear-gradient(130deg, rgb(87, 37, 138), rgb(9, 14, 56), rgb(51, 7, 123));
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 4rem;
  font-size: 3rem;
  margin-top: 5rem;
}
#nav-link:hover {
  background: linear-gradient(130deg, rgb(153, 70, 191), rgb(112, 73, 169), rgb(70, 12, 90));
}

#add-product {
  background: linear-gradient(130deg, rgb(87, 37, 138), rgb(9, 14, 56), rgb(51, 7, 123));
  color: white;
  font-weight: bold;
  font-size: 1rem;
  position: fixed;
  left: 30px;
  top: 30px;
  border-radius: 30px;
  width: 130px;
  padding: 0.7rem;
}
#add-product:hover {
  background: linear-gradient(130deg, rgb(153, 70, 191), rgb(112, 73, 169), rgb(70, 12, 90));
}

#refresh-message {
  position: fixed;
  left: 5px;
  top: 5px;
}

/*# sourceMappingURL=main.css.map */
